.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.width {
  max-width: 1500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-align: center;
  flex: 1 1 auto;
}

.articlesContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-size: 100%;
}

.articleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 25px;
  cursor: pointer;
  transition: scale 200ms ease;
}

.articleContainer:hover {
  scale: 1.05;
}

.article {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400px;
  margin: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  margin: 5px;
}

.deleteBtn {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  height: 15px;
  position: inherit;
  color: #ff0000;
  background: rgb(35, 19, 211);
  border-radius: 30px;
}

.deleteBtn:hover {
  color: rgb(255, 253, 253);
}

.deleteBtn:active {
  background: rgb(255, 255, 255);
}

.btn {
  width: 140px;
  height: 50px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #005bff;
  font-size: 13px;
  padding: 17px;
  font-weight: 500;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
}

.btn:hover {
  color: #00ff40;
}

.sortBtn {
  color: #ffffff;
  background-color: #005bff;
  font-size: 13px;
  font-weight: 500;
  width: 140px;
  height: 50px;
  border-radius: 30px;
  margin-top: 20px;
}

.background {
  background: url("../../assets/img/blue.jpg");
  width: 100%;
  height: 100%;
  padding: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.photoArticles {
  display: flex;
  justify-content: center;
  height: 240px;
  width: 426px;
  border-radius: 20px;
}

 @media (min-width: 320px) and (max-width: 510px) {
  .photoArticles {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 280px;
    border-radius: 20px;
  }
 }
