.footer {
    bottom: 0;
    color: black;
    font-size: 16px;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }
  
  .footerBg {
    background-color: #f2f2f2;
    padding: 30px 0;
    margin-top: 120px;
  }
  
  .footerInfo {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .mail {
    padding: 5px;
  }

  .footerBtnUp {
    position: relative;
    z-index: 1;
    margin-right: 50px;
  }
  
  .footerBtnUp > a {
    text-decoration: none;
  }
  
  .footerInfoWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
  }
  
  .footerAppInfo {
    font-weight: bold;
  }
  
  .footerAppInfo > span {
    color: #f52;
  }
  
  @media (min-width: 1024px) and (max-width: 1499px) {
    .footerBg {
      left: -15px;
    }
  
    .footerInfo-wrapper {
      margin-left: 15px;
    }
  
    .footerBtn-up {
      margin-right: 15px;
    }
  }
  

html,
body {
  height: 100%;
}