.btn {
    width: 32px;
  }
  
  .text {
    text-align: center;
    font-size: 32px;
    color: aliceblue;
    margin: 30px;
  }
  
  .movies {
    font-size: 26px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 90px;
  }
  
  .history {
    color: #000000;
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    margin-top: 20px;
    padding: 30px;
  }
  
  @media (min-width: 320px) and (max-width: 510px) {
    .text {
      .text {
        text-align: center;
        font-size: 18px;
        color: aliceblue;
        margin: 20px;
      }
      .history {
        color: #000000;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-top: 20px;
        padding: 20px;
      }
    }
  }
  