.aboutWrapper {
    max-width: 1208px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.description {
    font-size: 18px;
    line-height: 1.5;
    color: #f24e1e;
    margin: 20px 0;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.teamImage {
    max-width: 100%;
    border-radius: 12px;
}

.infoBlocks {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.infoBlock {
    max-width: 300px;
    text-align: left;
}

.icon {
    font-size: 18px;
    color: #f24e1e;
    margin-right: 10px;
}

.footerMessage {
    background-color: #e0f5d5;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: #4caf50;
    margin-top: 30px;
}
