.error {
  display: block;
  text-align: center;
  font-style: italic;
  margin-top: 117px;
  margin-bottom: 5px;
}

.wrapper {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 30px;
    color: aliceblue;
}

.text {
    font-size: 26px;
    display: flex;
    justify-content: center;
    margin: 20px;
    color: aliceblue;
}

.goAtHome {
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-decoration: underline;
    margin: 30px;
    margin-bottom: 60px;
}

.goAtHome:hover {
    text-decoration: none ;
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }